version: "3.9"

services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - mern-network

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - mern-network

networks:
  mern-network:
